footer{
    padding: 6.4rem 0;
    background-color: #C3D5D9;

    .footer-content{
        border-top: .1rem solid #0f7d8bf8;
        padding-top: 3.2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a{
            cursor: pointer;
            font-size: 2rem;
            font-weight: normal;
            color: #fff;
            transition: .3s;
            svg{
                width: 4.8rem;
                height: 4.8rem;

                path,
                circle {
                    fill: #0f7d8bde;
                }
            }
            &:hover{
                color: #0f7d8bde;
            }
        }
    }
}